body {
  padding: 30px;
  color: #bbbbbb;
  background-color: #111111;
}

h1 {
  margin-top: 0;
}

header {
  text-align: center;
}

header nav a {
  margin: 0 15px;
  font-weight: bold;
}

footer {
  background-color: #111111;
  padding: 10px;
  border-radius: 8px;
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
}

.section {
  margin: 30px 0;
  border: 1px solid #444444;
  padding: 20px;
  border-radius: 10px;
  background-color: #222222;
}

.section a {
  color: #7988b9;
  text-decoration: none;
}

.section h2 {
  color: #eeeeee;
}

.section h3 {
  margin: 5px 0 10px 0;
}

.section a:hover {
  text-decoration: underline;
}

img {
  border-radius: 10px;
  margin-top: 20px;
  max-width: 300px;
  height: auto;
  box-shadow: 0 0 10px #000000;
}
